/* 컨테이너 스타일 */
.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #F0F8FF;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.p {
    font-weight: 100;
    font-size: 15px;
    color: #007BFF;
    line-height: 45px;
    border-bottom: 1px solid #007BFF;
}

/* 제목 스타일 */
.h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 신청자 목록 스타일 */
.applicantList {
    list-style: none;
    padding: 0;
}

.applicantListLi {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.applicantListStrong {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.paginationButton {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.paginationButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* 반응형 스타일링 */
@media (max-width: 768px) {
    .applicant-list li {
        padding: 10px;
    }

    .pagination {
        flex-direction: column;
        align-items: center;
    }

    .pagination button {
        margin-top: 10px;
    }
}